*.dart linguist-detectable=true

android/** linguist-vendored
ios/** linguist-vendored

**/build/** linguist-vendored
**/.dart_tool/** linguist-vendored

*.iml linguist-vendored
.idea/** linguist-vendored
.vscode/** linguist-vendored

*.lock linguist-vendored
*.yaml linguist-vendored
*.gradle linguist-vendored
*.xml linguist-vendored
*.sh linguist-vendored
